* {
    font-family: "Roboto", sans-serif;
    color: #F9FAF8;
}

ul {
    display: flex;
    gap: 16px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.logo-txt {
    font-size: 24px;
    font-weight: bold;
}

.hero-main, .hero-secondary {
    width: 450px;
}

.hero-main {
    font-size: 48px;
    font-weight: 900;
}

.hero-secondary {
    font-size: 18px;
    color: #E5E7EB;
}

.header-top {
    display: flex;
    justify-content: center;
    gap: 550px;
    align-items: baseline;
    margin-bottom: 60px;
}

.header, .footer {
    background-color: #1F2937;
}

.header {
    display: flex;
    flex-direction: column;
    padding: 20px 0 100px;
}

.header-bottom {
    display: flex;
    justify-content: center;
    gap: 220px;
}

button {
    background-color: #3882F6;
    border: none;
    border-radius: 5px;
    padding: 4px 24px;
}

.body-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    padding: 30px 0 80px;
}

.information {
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
}

.img-container {
    display: flex;
    justify-content: center;
    gap: 40px;
}

img {
    border-radius: 10px;
}

.img {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.caption {
    display: block;
    width: 200px;
    text-align: center;
    color: #1F2937;
    margin-top: 10px;
}

.body-2 {
    background-color: #E5E7EB;
    padding: 80px 0;
}

.quote {
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
    font-weight: 200;
    width: 800px;
    margin: 10px auto;
}

.quotee {
    color: #1F2937;
    text-align: center;
    font-weight: bold;
    margin: 0 auto;
}

.body-3 {
    background-color: #3882F6;
    width: 1000px;
    margin: 70px auto;
    padding: 40px;
    border-radius: 10px;
}

.body-3 button {
    border: 2px solid #F9FAF8;
}

.box {
    display: flex;
    justify-content: center;
    gap: 400px;
}

.footer {
    text-align: center;
    padding: 20px;
}